<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
    <httpRuntime maxRequestLength="2147483647"/> 
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
	<customErrors mode="Off" />
        <compilation debug="true" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true" />
        <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
        <handlers>
            <add name="php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Dados\php\php-cgi.exe" resourceType="Either" />
        </handlers>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
        <rewrite>
                <rules>
                    <clear />
                    <rule name="Rewrite CI Index" stopProcessing="true">
                        <match url="^(.*)$" ignoreCase="true" />
                        <conditions logicalGrouping="MatchAll">
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                    </rule>                    
                </rules>
            </rewrite>
            <staticContent>
                <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
                <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            </staticContent>
    </system.webServer>
</configuration>